<h3>News List</h3>

<table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Links</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let news of newsList">
        <td>{{news.title}}</td>
        <td>
            <a [routerLink]="['/story/html', news.id]">html</a> |
            <a [routerLink]="['/story/json', news.id]">json</a> |
            <a [routerLink]="['/story/xml', news.id]">xml</a>
        </td>
    </tr>

    <tr *ngIf="!newsList">
        <td colspan="2" align="center">No news yet</td>
    </tr>
    </tbody>
</table>

<div [ngBusy]="busy"></div>